In [1]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [3]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/UEFA_Euro_2024')

In [16]:

all_tables[18]
all_tables[53]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Turkey,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Georgia,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Portugal,0,0,0,0,0,0,0,0,Possible knockout stage based on ranking
3,4,Czech Republic,0,0,0,0,0,0,0,0,NaN

In [19]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [21]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/UEFA_Euro_2024')

dict_table = {}
for letter, i in zip(alphabet, range(18, 60, 7)):
    df = all_tables[i]
    df.rename(columns= {df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [24]:
dict_table["Group C"]

   Pos      Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Slovenia    0  0  0  0   0   0   0    0
1    2   Denmark    0  0  0  0   0   0   0    0
2    3    Serbia    0  0  0  0   0   0   0    0
3    4   England    0  0  0  0   0   0   0    0

In [28]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)